<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}My App{% endblock %}</title>
    <!-- Copy the Bootstrap CSS <link> from your old index.html here -->
  </head>
  <body>
    <nav class="navbar navbar-expand bg-body-tertiary mb-4">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">CS 188</a>
        <div class="navbar-nav">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </div>
      </div>
      <nav class="navbar navbar-expand bg-body-tertiary mb-4">
        <div class="container">
         <a class="navbar-brand" href="{{ url_for('index') }}">CS 188</a>
         <div class="navbar-nav">
           <a class="nav-link" href="{{ url_for('index') }}">Home</a>
           <!-- ...the link to your page from Part 1... -->
          </div>
         {% include "components/account_nav.html" %}
       </div>
      </nav>
    </nav>

    <main class="container">
      {% block content %}{% endblock %}
    </main>


    {% include "components/register_modal.html" %}
    {% include "components/login_modal.html" %}

    <!-- The Bootstrap JS <script> you already have goes here -->
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>